language: ruby
cache: bundler
rvm:
  - 2.3.0
  - 2.2.4
  - 2.1.8
  - 2.0.0
  - 1.9.3
before_install:
  - gem install bundler -v 1.11.2
notifications:
  slack:
    secure: Lhwvg/S2769H869ucqifpc6IwKquIQsRDrKfysZZKqIaF6zrJzUQNPNLpaYBkmrLWK70+dkGlM7cBoW1gNOCLup+j03on7hD7GTDt0F71xGHDdlpl+zi6kjvu1SEf8t7/4BewkjcFBsG1V7FFf0nT5uDeVSqmP4L1WhAaZth/aze3spY1TttYSEhxUjFezKDLzjdkCuHjBhMKnlGwvcn8/0GEmgQ/SfrCOjyMQhmRpYEZN3I3J34EozaYkkw+1GOhZ9Qb8gZ+8K1ol2/Wb+KZxyQenKyn6Ua21exgXzJyW8DGQ0eRezZ20thevedOep8RXG2TkH95xfgUyQLcW53tsRCd520E50+CxwEks0ayJwR/O21rjfrkaLpWp/PmYRDfqGxegib9TCnzRqaX085JCqA5gw5b8IQJXX5ECKsa+IDuIRjfbut4p2T1JVUQTGczU6u6ckI6pGW5Ou/xkF+wRrTxxeWRlQpNkLU/7nTPxcs6NcPZ79zGi04miep5Cs9dcqV4iU30+gslkYaZak5pYaqliIs11M3o81e99iYT5mbJju4eMho6AXEZdgmwhfBAtkXDnp5stvea+/RVfnTJzdWKckfKR6gikPR5Ni6pjmcfq91alw1QEz/DEMqMZ65C+kgXm2xOnl4nQjG1TgzPEQ63bmBce3D/0V384y/lSg=
